@import "halo-defaults";
@import "halo-ext-defaults";
@import "halo-ext";

.halo {
  @include halo-ext;
}

// hide Vaadin warning about theme version
.v-theme-version {
  display: none;
}


.temporal-reference-entity {
  background-color: #4bff3e;
}

.temporal-reference-entity-lookup input {
  color: #3fcb36 !important;
}

.reference-entity {
  background-color: #f152ff;
}
.reference-entity-lookup input {
  color: #bd47cb !important;
}

div.cuba-login-main-layout {
  background: url("branding/alphabet-background.jpg") !important;
}
div.cuba-app-workarea {
  background: url("branding/alphabet-background.jpg") !important;
}
div.cuba-login-panel {
  margin-top: -500px !important;
  background-color:#eee !important;
}