@import "halo-defaults";
@import "halo-ext-defaults";
@import "halo-ext";

.halo {
  @include halo-ext;
}

// hide Vaadin warning about theme version
.v-theme-version {
  display: none;
}


div.cuba-login-main-layout {
  background: url("branding/alphabet-background.jpg") !important;
}
div.cuba-app-workarea {
  background: url("branding/alphabet-background.jpg") !important;
}
div.cuba-login-panel {
  margin-top: -20% !important;
  background-color:#eee !important;
}